.section {
  overflow: hidden;
  padding: 8rem 5rem;
  background-color: var(--900);
}

@media screen and (max-width: 991px) {
  .section {
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 3.5rem 2.5rem;
  }
}

.section.banner {
  background-color: var(--background2-11666aaa);
}

@media screen and (max-width: 767px) {
  .section.banner {
    display: none;
  }
}

.section.banner {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;

  background-color: var(--600);

  font-size: 0.75rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section.banner {
    display: block;
  }
}

.section.login {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: var(--900);
}

.section.is-relative {
  position: relative;
}

.container-small {
  z-index: 0;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container-small {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .container-small {
    width: 100%;
  }
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .faq-wrapper {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .faq-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .faq-wrapper {
    grid-template-columns: 1fr;
  }
}

.faq-content {
  display: flex;
  max-width: 33.75rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  text-align: center;
}

.text-gradient-overlay {
  background-image: linear-gradient(90deg, var(--100) 72%, var(--accent-medium));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spacer-24 {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 auto;
  background-color: transparent;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .spacer-24 {
    height: 2.5rem;
  }
}

.paragraph {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  .paragraph {
    font-size: 0.875rem;
  }
}

.paragraph.small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.paragraph.extra-large {
  font-size: 1.75rem;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .paragraph.extra-large {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.extra-large {
    font-size: 1.375rem;
  }
}

.paragraph.large {
  font-size: 1.25rem;
  line-height: 1.45;
}

@media screen and (max-width: 479px) {
  .paragraph.large {
    font-size: 1.0625rem;
  }
}

.text-weight-medium {
  font-weight: 500;
}

.faq-list {
  display: grid;
  justify-items: stretch;
  align-items: start;
  grid-auto-columns: 100%;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.faq-accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  border-style: none;
  border-width: 0.0625rem;
  border-radius: 0.75rem;

  background-color: var(--800);
}

@media screen and (max-width: 479px) {
  .faq-accordion {
    border-radius: 1rem;
  }
}

.faq-question {
  display: flex;
  padding: 2rem 2.25rem 2rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .faq-question {
    padding: 1.5rem 1.75rem 1.5rem 2rem;
  }
}

.heading {
  font-family: Switzer;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.heading.medium {
  display: block;
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: Switzer;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 767px) {
  .heading.medium {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .heading.medium {
    font-size: 2rem;
  }
}

.heading.extra-small {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: Switzer;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 479px) {
  .heading.extra-small {
    font-size: 1.125rem;
  }
}

.heading.small {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: Switzer;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 479px) {
  .heading.small {
    font-size: 1.25rem;
  }
}

.heading.regular {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: Switzer;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 479px) {
  .heading.regular {
    font-size: 1.375rem;
  }
}

.heading.extra-large {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;

  font-family: Switzer;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .heading.extra-large {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 479px) {
  .heading.extra-large {
    font-size: 2.5rem;
  }
}

.heading.large {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: Switzer;
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .heading.large {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .heading.large {
    font-size: 2.125rem;
  }
}

.faq-icon {
  position: relative;

  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;

  color: var(--primaryColour-5ada10ac);
}

.faq-answer {
  overflow: hidden;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 991px) {
  .faq-answer {
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .faq-answer {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.spacer-40 {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 auto;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .spacer-40 {
    height: 2.5rem;
  }
}

#w-node-c4ba0a19-3c90-69c7-36b8-7f895b683a5c-aec14853 {
}